<%- include("partials/header"); -%>

<h1><%= dayTitle %></h1>
<h1><%= title %></h1>
<div class="post-container">
  <img class="post-image" src="<%= imageURL %>" alt="Post Image">
  <div class="post-content">
    <p><%= content %></p>
  </div>
</div>

<%- include("partials/footer"); -%>
